<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script type="text/javascript"
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body ng-app="app" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable" id="title-bar">
        <h1 class="title" id="rainbow">*~ my very own calculator ~*</h1>
      </ion-header-bar>
      <ion-content>
        <div class="row">
          <div class="col display">{{display}}</div>
        </div>
        <div class="button-bar">
          <a class="button square" ng-click="funcIs(square)">\(x^{2}\)</a>
          <a class="button trig" ng-click="funcIs(sin)">\(sin\)</a>
          <a class="button trig" ng-click="funcIs(cos)">\(cos\)</a>
          <a class="button trig" ng-click="funcIs(tan)">\(tan\)</a>
        </div>
        <div class="button-bar">
          <a class="button square" ng-click="funcIs(sqrt)">\(\sqrt{x}\)</a>
          <a class="button trig" ng-click="funcIs(asin)">\(sin^{-1}\)</a>
          <a class="button trig" ng-click="funcIs(acos)">\(cos^{-1}\)</a>
          <a class="button trig" ng-click="funcIs(atan)">\(tan^{-1}\)</a>
        </div>
        <div class="button-bar">
          <a class="button" ng-click="digit(1)">1</a>
          <a class="button" ng-click="digit(2)">2</a>
          <a class="button" ng-click="digit(3)">3</a>
          <a class="button oper" ng-click="funcIs(divide)">\(\div\)</a>
        </div>
        <div class="button-bar">
          <a class="button" ng-click="digit(4)">4</a>
          <a class="button" ng-click="digit(5)">5</a>
          <a class="button" ng-click="digit(6)">6</a>
          <a class="button oper" ng-click="funcIs(multiply)">\(*\)</a>
        </div>
        <div class="button-bar">
          <a class="button" ng-click="digit(7)">7</a>
          <a class="button" ng-click="digit(8)">8</a>
          <a class="button" ng-click="digit(9)">9</a>
          <a class="button oper" ng-click="funcIs(add)">\(+\)</a>
        </div>
        <div class="button-bar">
          <a class="button" ng-click="posneg()">-/+</a>
          <a class="button" ng-click="digit(0)">0</a>
          <a class="button" ng-click="digit('.')">.</a>
          <a class="button oper" ng-click="funcIs(subtract)">\(-\)</a>
        </div>
        <div class="button-bar">
          <a class="button clear" ng-click="clear()">clear</a>
          <a class="button enter" ng-click="enter()">enter</a>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
